.v-step {
  background-color :#F51355 !important;
  font-family: 'Manrope-Regular';
  max-width: 400px !important;
  transition: translateY(-100px);
  &.dark {
    background-color: #383838 !important;
    .v-step__header {
      background-color: #383838 !important;
    }
  }
  &__header {
    background-color :#F51355 !important;
    border:none;
    font-family: 'Manrope-ExtraBold';
    text-align: left;
    padding: 15px 35px !important;
  }
  &__content {
    text-align: justify;
    padding: 0 20px 20px 20px;
  }
  &__arrow--dark {
    border-color: #F51355 !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
  }

}
.v-step[x-placement^='top'] {
  margin-bottom: 3.5rem !important;
}
.v-step[x-placement^='bottom'] {
  margin-top: 3.5rem !important;
}
.v-step[x-placement^='right'] {
  margin-left: 3.5rem !important;
}
.v-step .v-step__arrow {
  border-color: #F51355 !important;       /* set to desired popper arrow color */
  &--dark {
      border-color: #F51355 !important;   /* set to desired popper arrow color */
  }
  &:before {
    content: "";
    position: absolute;
    border-left:solid 0.5px #F51355;
    height: 3rem;
  }
}
.v-step.dark .v-step__arrow {
  border-color: #383838 !important;       /* set to desired popper arrow color */
  &--dark {
      border-color: #383838 !important;   /* set to desired popper arrow color */
  }
  &:before {
    content: "";
    border-color: #383838;
    border-left:solid 0.5px #383838;
    position: absolute;
    height: 3rem;
  }
}
.v-step[x-placement^='top'] .v-step__arrow {
  // border-left-color: transparent !important;
  // border-right-color: transparent !important;
  // border-bottom-color: transparent !important;
  bottom:-3rem !important;
  border-radius: 50% !important;
  border-width: 4px !important;  
  &:before {
    transform: translateY(-100%);
  }
}

.v-step[x-placement^='bottom'] .v-step__arrow {
  // border-left-color: transparent !important;
  // border-right-color: transparent !important;
  // border-top-color: transparent !important;
  top:-3rem !important;
  border-radius: 50% !important;
  border-width: 4px !important;
}

.v-step[x-placement^='right'] .v-step__arrow {
  // border-left-color: transparent !important;
  // border-top-color: transparent !important;
  // border-bottom-color: transparent !important;
  border-radius: 50% !important;
  border-width: 4px !important;
  left: -3rem !important;
  &:before {
    width: 3rem;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 0;
  }
}

.v-step[x-placement^='left'] .v-step__arrow {
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}