.md-menu-content{
    z-index: 1000;
}
.md-menu-content:not(.md-select-menu) .md-menu-content-container .md-list {
  .md-list-item {
    margin: 0 .3125rem;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &.md-purple {
      .md-list-item-button {
        &:hover {
          background-color: $vendorColor !important;
          color: #FFF !important;
          @include shadow-big-color($vendorColor);
        }
      }

    }
    &.md-gray {
      .md-list-item-button {
          &:hover {
              background-color: $gray-color !important;
              color: #000 !important;
              @include shadow-big-color($gray-color);
          }
      }
    }
    .md-list-item-button {
      background-color: transparent;
      color: $gray-dark !important;
      border-radius: 3px;


      &:hover {
        background-color: $brand-primary !important;
        @include shadow-big-color($brand-primary);
        color: #FFF !important;
      }

      .md-list-item-content {
        min-height: 38px;
        font-size: 16px;
        font-family: "Manrope-Regular";

        span {
          top: auto;
          left: auto;
          right: 0;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }
}
