.event-details-overview {
  position: relative;
  padding: 0 0 0 400px;
  font-family: "Manrope-Regular", sans-serif;

  .title-budget-main {
    margin-top: 1.7em;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #212121;
  }

  .title.budget {
    h4 {
      color: $purple-500;
    }
  }

  .title-budget-prise {
    color: $green !important;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5px;
  }

  .title-budget-prise-negative {
    color: $pink-262 !important;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5px;
  }

  .title-budget-prise.title {
    font-size: 1.45rem;
    margin-bottom: 0;
  }

  .event-details-header {
    height: 325px;
    position: relative;
    background: #fff;
    padding: 0;

    .header-detail {
      flex-grow: 1;
      margin: 0 100px 0 40px;
    }

    .header-actions {
      // position : absolute;
      // right : 2em;
      // top : 2em;
      padding: 2em 0px 0px;
      margin-right: 65px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .status-bar {
      padding: 2rem 0;

      .status-info {
        margin-left: 40%;
      }

      .description {
        .status-title {
          font-size: 16px;
          line-height: 1.31;
          text-align: center;
          color: #050505;
        }

        .status-percentage {
          font-size: 14px;
          font-weight: 500;
          line-height: 1.29;
          text-align: center;
          color: #48c775;
        }

        .status-tasks {
          font-size: 14px;
          text-align: center;
          color: #050505;
        }
      }
    }

  }

  .card-section {
    position: relative;
    border-radius: 3px;
    box-shadow: 0 3px 41px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    padding: 50px;
    margin: 20px 36px 0;
    display: flex;

    .left {
      width: 100%;

      img {
        max-width: 70px;
        max-height: 70px;
      }

      display: flex;

      h3.title {
        margin: 0;
        font: 800 24px Manrope-Regular, sans-serif;
      }

      p.content {
        font-size: 18px;
        margin: 10px 0;
      }

      .warning {
        max-width: 280px;
      }

      .value {
        margin-left: 50px;
        font-size: 18px;
        white-space: nowrap;

        h3 {
          font: 800 24px Manrope-Regular, sans-serif;
          margin: 0 0 12px;
        }

        img {
          margin-right: 10px;
          max-width: 25px;
          max-height: 25px;
        }

        .picker-panel {
          padding: 10px 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      .checkbox-label-wrapper{
        display: flex;
        align-items: center;
        width: 100%;
        img {
          margin-right: 5px;
          max-width: 25px;
          max-height: 25px;
        }
        margin-left: 10px;
        margin-right: 50px;
      }
    }

    .right {
      position: absolute;
      top: 60px;
      right: 20px;
    }

  }

  .align-center {
    align-items: center;
  }

  .align-self-center {
    align-self: center;
  }
}

.event-footer-container{
  position: relative;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background: white;
  font-family: 'Manrope-Regular', sans-serif;
}

.multiple-selection {
  min-width: 350px;
  display: inline-block;
  margin-top: 16px;
  height: 55px;
  .multiselect__select {
    top: 15px;
  }
  .multiselect__tags {
    height: 55px;
    border: solid 0.5px #bcbcbc;

    .multiselect__single {
      line-height: 30px;
    }
    .multiselect__tags-wrap{
      display: flex;
      overflow: hidden;

      span{
        margin-right: 5px;
        flex-shrink: 0;
        font-size: 16px;
        font-family: 'Manrope-regular';
      }
    }
  }

  .multiselect__content{
    z-index: 100;
  }

  .multiselect__input {
    height: 30px;
    text-transform: capitalize;
  }
  .multiselect__placeholder {
    line-height: 20px;
  }
}
